extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Tristan Ringer

        p Full Stack JavaScript Engineer Student


        .about-bio

          p Why do I code? Because I love it. I started coding in 2024 while living abroad in Mexico. I was interested in learning how computer programming works and was also fond of the possibility of working remote. Little did I know, there was a mix of both creativity and logic involved which had me almost instantly hooked. Attach that to the endless possibilities, I found myself coding in the morning, during the day, in the evening, and at night. I'm passionate about developing apps and websites for others and myself, and driven to have a meaningful impact on the digital age.   


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 669-333-6569
          li tristan@arkmissions.ca

        a.btn-link(target='_blank', href='https://www.linkedin.com/in/tristan-ringer/') LinkedIn
        a.btn-link(target='_blank', href='https://github.com/tree-stem') GitHub
        // a.btn-link(target='_blank', href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back