<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/styles/normalize.css')
    link(rel='stylesheet', href='/styles/style.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/images/profile-pic-resize.jpeg', alt='Profile picture')
        .dev-intro-box

          h5 Tristan Ringer

          p Hello world! My name is Tristan Ringer and I am a Full Stack JavaScript Engineer Treehouse graduate. I was studying business and engineering until I stumbled upon programming by chance. Originally from Canada, I have been living in Mexico for the past year. I like to play drums, eat food, and sleep in on weekends. I can speak both English and Spanish and have a dog named Pirata. 

          a(href='about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Tristan Ringer

      block content

  script(src='/scripts/script.js')